:host {
  display: flex;
}

svg {
  animation: spin 2s cubic-bezier(0.17, 0.73, 0.39, 1.25) infinite;
}

:host([type="secondary"]) circle {
  stroke: var(--border-default);
}

:host([type="secondary"]) path {
  stroke: var(--surface-fg-main);
}

:host([type="primary"]) circle {
  stroke: var(--primitive-tokens-colors-brand-primary-1-300);
}

:host([type="primary"]) path {
  stroke: var(--surface-fg-highlight);
}

:host([type="ghost"]) circle {
  stroke: transparent;
}

:host([type="ghost"]) path {
  stroke: var(--border-default);
}

:host([type="success"]) circle {
  stroke: var(--primitive-tokens-colors-universal-green-1-200);
}

:host([type="success"]) path {
  stroke: var(--border-success);
}

:host([size="small"]) {
  width: var(--size-2);
  height: var(--size-2);
}

:host([size="medium"]) {
  width: var(--size-3);
  height: var(--size-3);
}

:host([size="stretch"]) {
  width: 100%;
  height: 100%;
}

@keyframes spin {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(315deg);
  }
}
