@import '@easepick/core/dist/index.css';
@import '@easepick/range-plugin/dist/index.css';

:host {
  --color-fg-primary: var(--color-brand-interaction-100);
  --color-fg-muted: var(--color-universal-grey-75);
  --color-fg-accent: var(--color-brand-brand-100);
  --color-bg-secondary: var(--color-brand-interaction-75);
  --color-btn-secondary-fg: var(--color-brand-interaction-100);
  --color-bg-inrange: var(--color-brand-interaction-25);
}

.container {
  display: block;
  font-family: inherit;
  font-size: var(--typography-body-main-font-size);
  line-height: var(--typography-body-main-line-height);
}

.container.inline {
  box-shadow: none;
}

.container.show {
  box-shadow: var(--effect-shadow-far);
}

.calendar .days-grid .day {
  cursor: pointer;
}

.calendar .days-grid .day:hover {
  border-color: transparent;
  background-color: var(--color-brand-interaction-10);
}

.calendar .days-grid .day.selected:hover {
  color: var(--color-brand-text-100);
}

.calendar .header button:active {
  background-color: var(--color-brand-interaction-75);
}

.calendar .days-grid .day {
  border-radius: var(--radius-4);
}
