@import "../../components/menuItem/menuItem.links.lightDOM.css";

a {
  text-decoration: none;
  color: var(--color-brand-interaction-100);
  font-weight: var(--typography-header-h4-font-weight);
  font-size: var(--typography-body-main-font-size);
  display: inline-flex;
  gap: var(--constraints-size-1);
  border-radius: var(--radius-4);
}

a:hover {
  background-color: var(--color-brand-interaction-25);
}