@import "../../components/menuItem/menuItem.links.lightDOM.css";

a {
  text-decoration: none;
  color: var(--text-primary);
  font-weight: var(--typography-header-h4-font-weight);
  font-size: var(--typography-main-font-size);
  display: inline-flex;
  gap: var(--size-1);
  border-radius: var(--radius-4);
}

a:hover {
  background-color: var(--surface-bg-interaction-300);
}