@import 'highcharts/css/highcharts.css';

:host {
  display: block;
  --highcharts-color-0: var(--text-primary);
  --highcharts-color-1: var(--surface-bg-interaction-400);
  --highcharts-color-2: var(--color-brand-interaction-50);
  --highcharts-color-3: var(--surface-fg-highlight);
  --highcharts-color-4: var(--color-brand-brand-75);
  --highcharts-color-5: var(--primitive-tokens-colors-brand-primary-1-300);
  --highcharts-background-color: var(--color-brand-white-100);
}

.highcharts-background {
  fill: none;
}

.highcharts-container {
  font: var(--font-main);
}

.highcharts-data-label text {
  fill: var(--color-brand-white-100);
  font-size: var(--typography-body-main-font-size);
  line-height: var(--typography-body-main-line-height);
  font-weight: var(--typography-body-main-font-weight);
}

.highcharts-grid-line {
  stroke-width: 2px;
  stroke: var(--color-universal-grey-25);
}

.highcharts-legend-item > text {
  fill: var(--color-brand-text-100);
  font-size: var(--typography-body-main-font-size);
  line-height: var(--typography-body-main-line-height);
  font-weight: var(--typography-body-main-font-weight);
}

:is(.highcharts-bar-series, .highcharts-column-series) .highcharts-point-hover {
  fill-opacity: 0.75;
  transition: fill-opacity 50ms ease 0s;
}

.highcharts-pie-series.highcharts-legend-item span {
  transform: translateY(-50%);
}

.highcharts-legend-point-active .highcharts-pie-series rect.highcharts-point {
  opacity: 1;
}

.highcharts-legend .highcharts-pie-series .highcharts-point {
  cursor: pointer;
}

.dss-bar-axis-labels {
  text-align: right;
}

.dss-column-axis-labels {
  text-align: center;
}

.highcharts-y-axis-labels {
  font-size: var(--typography-body-main-font-size);
}
