:host {
  display: flex; /* prevent small spacing after svg element */
}

:host([size="xsmall"]) {
  height: var(--typography-body-small-font-size);
  width: var(--typography-body-small-font-size);
}

:host([size="small"]) {
  height: var(--typography-body-main-font-size);
  width: var(--typography-body-main-font-size);
}

:host([size="medium"]), :host {
  width: var(--typography-header-h3-font-size);
  height: var(--typography-header-h3-font-size);
}

:host([size="large"]) {
  height: var(--typography-header-h2-font-size);
  width: var(--typography-header-h2-font-size);
}

:host([size="huge"]) {
  height: 4.8rem;
  width: 4.8rem;
}

svg {
  display: block;
  width: 100%;
  height: 100%;
}

path {
  fill: currentColor;
}
