:host {
  display: inline-block;
}

:host([loading]) {
  pointer-events: none;
}

button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  gap: var(--size-1);
  cursor: pointer;
  border: var(--border-medium) solid;
  border-radius: var(--radius-small);
  line-height: var(--typography-font-line-height-md);
}

button:disabled {
  background: var(--surface-fg-disabled);
  border-color: var(--surface-fg-disabled);
  color: var(--text-cta-disabled);
  cursor: not-allowed;
}

button:disabled:focus-visible {
  outline: none;
}

button:not(:disabled):focus-visible {
  outline: var(--surface-fg-highlight-border) solid 0.1rem;
  box-shadow: var(--effect-shadow-glow-focus);
}

.type-primary {
  border-color: var(--surface-fg-highlight-border);
  background: var(--surface-fg-highlight);
  color: var(--surface-fg-highlight-content);
  --spinner-background-color: var(--surface-fg-main-content);
}

.type-primary:not(:disabled, :active):hover {
  border-color: transparent;
  background: var(--surface-fg-highlight-hover);
}

.type-secondary {
  border-color: var(--surface-fg-main);
  background: var(--surface-fg-main);
  color: var(--surface-fg-main-content);
  --spinner-background-color: var(--surface-fg-main-content);
}

.type-secondary:not(:disabled, :active):hover {
  border-color: transparent;
  background: var(--surface-fg-main-hover);
}

.type-ghost {
  border-color: var(--surface-fg-ghost-content);
}

.type-icon-only {
  border: none;
}

.type-icon-only,
.type-ghost {
  background: transparent;
  color: var(--surface-fg-ghost-content);
}

.type-ghost:disabled {
  border-color: var(--surface-fg-disabled);
}

.type-icon-only:disabled {
  border-color: transparent;
}

:is(.type-ghost, .type-icon-only):disabled {
  background: transparent;
  color: var(--text-cta-disabled);
}

/* This style is split into two, since host-context is not being implemented outside Chromium browsers.
   In other browsers this would break the whole hover effect. We need host-context here since there is no other way to
   have the button trigger the hover state when inside an input that is being hovered */
:host-context(dss-input:hover) .type-icon-only:not(:disabled) {
  background: var(--surface-fg-ghost-hover);
}

.type-icon-only:not(:disabled, :active):hover,
.type-ghost:not(:disabled, :active):hover {
  background: var(--surface-fg-ghost-hover);
}

.spacing-text {
  padding: var(--size-0-5) var(--size-2);
}

.spacing-icon {
  padding: calc(var(--size-0-5) - var(--border-medium));
}

.spacing-icon-only {
  padding: var(--size-0-25);
}

.remove-border-left,
.remove-radius-left {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.remove-border-right,
.remove-radius-right {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.remove-border-all,
.remove-radius-all {
  border-radius: 0;
}

.remove-border-left {
  border-left-width: 0;
}

.remove-border-right {
  border-right-width: 0;
}

.remove-border-all {
  border-width: 0;
}
