/**
 * ::slotted styles do not get any benefit in specificity so they get overridden by normalize/reset css styles setting
 * plain `input` styles. Therefore these styles are imported in the global.css using the lightDOM styling which has a
 * higher specificity than ::slotted.
 */

dss-input :is(input, textarea)::placeholder {
  color: var(--color-universal-blue-75);
}

dss-input :is(input, textarea) {
  margin: 0;
  outline: none;
  border: var(--constraints-border-small) solid var(--color-brand-interaction-75);
  border-radius: var(--constraints-radius-small);
  padding: calc(var(--constraints-size-0-5) + var(--constraints-border-small)) var(--constraints-size-1);
  font-size: var(--typography-body-main-font-size);
  line-height: var(--typography-body-main-line-height);
}

dss-input:has(:is(input,textarea):required)::part(required) {
  display: inline;
}

dss-input:has(dss-button) :is(input,textarea):not(:disabled):hover,
dss-input:has(dss-button:hover) :is(input,textarea):not(:disabled) {
  border-color: var(--color-brand-interaction-75);
}

:is(dss-input:has(dss-button), dss-input[loading]) input {
  padding-right: calc(var(--constraints-size-3) + var(--constraints-size-1));
}

dss-input[size="compact"] input {
  font-size: var(--typography-body-small-font-size);
  line-height: var(--typography-body-small-line-height);
}

dss-input :is(input,textarea):focus-visible {
  outline: var(--color-brand-interaction-100) solid 0.1rem;
  box-shadow: var(--effect-shadow-glow-focus);
}

dss-input :is(input,textarea):disabled {
  border-color: var(--color-universal-grey-25);
  color: var(--color-brand-text-100);
  background: transparent;
  cursor: not-allowed;
}

dss-input[errorstate="error"] :is(input,textarea) {
  border-color: var(--color-universal-red-100);
}

dss-input[errorstate="warning"] :is(input,textarea) {
  border-color: var(--color-universal-yellow-100);
}

dss-input input[type="date"]::-webkit-inner-spin-button,
dss-input input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

dss-input input[type="date"]::-webkit-datetime-edit-fields-wrapper {
  padding: 0;
}
