label {
  color: var(--color-brand-interaction-100);
  font-size: var(--typography-body-small-font-size);
  font-weight: var(--typography-body-small-font-weight);
  display: block;
}

[part="required"] {
  display: none;
}

:host([required]) [part="required"] {
  display: inline;
}
