@import "./reset.css";
@import "../../htmlTags/link/link.css";
@import "../../htmlTags/scrollbar/scrollbar.css";
@import "../../components/input/input.lightDOM.css";

body {
  font: var(--font-body-main) !important;
}

h1 {
  font: var(--font-header-h1);
}

h2 {
  font: var(--font-header-h2);
}

h3 {
  font: var(--font-header-h3);
}

h4 {
  font: var(--font-header-h4);
}

small {
  font: var(--font-body-small);
}

small-bold {
  font: var(--font-body-small-bold);
}
